.exercise {
    margin: 20px;
    padding: 20px;
}
.exercise ol > li {
    margin: 5px 50px;
}
.exercise ol {
    margin: 10px;
    background-color: #EEE;
    border-radius: 5px;
    border: 1px solid;
    clear: left;
}
.exercise h2 {
    width: 100px;
    border-radius: 50%;
    color: white;
    text-align: center;
    float: left;
    background-color: black;
    margin-right: 50px;
    margin-top: -10px;
}
.draggable {
    cursor: move;
    position: relative;
    display: inline-block;
}
.droppable, .editable {
    border-bottom: 1px solid;
    padding: 2px;
    width: 10em;
    display: inline-block;
    height: 1em;
    vertical-align:center;
}
